<!DOCTYPE html>
<html>
<head>
	<title>index</title>
	{% load static %}	
</head>
<body background="{% static '/a.jpg' %}" height="200 " width="700">
	<center>
		<img src="{% static '/b.jpg' %}" height="300 " width="700"><br>
<br>
<pre><h1>Balram  Kumar  Singh </h1></pre>
<a href=""><input type="button" value="HOME"></a>
<a href="email"><input type="button" value="Email-Send"></a>
<a href="family"><input type="button" value="FAMILY"></a>
<a href="my"><input type="button" value="ABOUT-ME"></a>
<a href="Login"><input type="button" value="GO TO-FORM"></a>

	</center>
	</br>
	</br>
</body>
</html>