@import url('https://fonts.googleapis.com/css?family=Eater');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');



body {
	margin: 0px;
	background-image: url('family.jpg');
	background-size: 100%;
        
}
header {
	background: black;
	color: red;
	padding: 4px 0px 6px 10px;
	height: 40px;
	margin-top: 2px;
}
header h1{
	font-family: 'Eater', cursive;
	float: left;
	margin-top: 0px;
	margin-right: 0px;

}

nav ul{
	display: inline;
	padding: 0px;
	float: right;
}
nav ul li{
	display: inline-block;
	list-style-type: none;
	color: white;
	float: right;
	margin-left: 13px;
	margin-right:10px;
}
nav ul li a{

	color: white;
	text-decoration: none;
}

#nav {
	font-family: 'Abril Fatface', cursive;
}

.homered{
	background-color: red;
	padding: 33px 10px 15px 10px;
}
.divider{
	background-color: red;
	height: 3px;
}
.homeblack:hover {
	background-color: blue;
	padding: 33px 10px 15px 10px;
}

.fwimage1{
	background-image: url(imag.jpg);
	width: 100%;
	height: 100%;
}


